mp3_tagger==1.0
whois==0.7
huepy==0.9.8.1
requests==2.25.1
tldextract==2.2.2
mutagen==1.41.1
pefile==2019.4.18
mp3_tagger==1.0
Pillow==8.1.0
ipwhois==1.1.0
PyPDF2==1.26.0
python-nmap==0.6.1
google==2.0.1
requests==2.25.1
huepy==0.9.8.1
fake_useragent==0.1.11
PyPDF2==1.26.0
dnspython==1.16.0
nmap==0.0.1
ruamel.yaml==0.17.7
shodan==1.23.0
paramiko>=2.4.2
pwntools
pip>=19.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability